header{
  height: 40px;
  margin: 0px;
  background:blue;
  width: 140px;
  height: 70px;
  border-radius: 100%;
  color: white;
  padding: 30px 25px;
  space:20px;

}
body{
  background: linear-gradient(to bottom,yellow,white);
}
span{
  color: red;
}
